{% block leftsidebar %}
<aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info">
        <div class="image">
            <img src="images/user.png" width="48" height="48" alt="User" />
        </div>
        <div class="info-container">
            <b>{{ username }}</b>
        </div>
    </div>
    <!-- #User Info -->
    <!-- pi-configuarion -->
    <div class="card">
        <div class="body">
        <div class="row clearfix">
            <div class="text-center">
            Running Mode :
            {% if users %}
                <b> STANDALONE </b>
            {% else %}
                <b> SYNC WITH FIREBASE </b>
            {% endif %}
            </div>
        </div>
        </div>
    </div>
    <!-- @card -->
    <!-- Footer -->
    <div class="legal">
        <div class="copyright">
            &copy; <a>2017 PI-ARLM miendinh</a>
        </div>
        <div class="version">
            <b>Version: </b> 1.0.0
        </div>
    </div>
    <!-- #Footer -->
</aside>
{% endblock %}