{% block navbar %}
<nav class="navbar">
<div class="container-fluid">
<div class="navbar-header">
    <a class="navbar-brand" href="/">PI-ALRM ADMIN</a>
</div>
<div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <i class="material-icons">notifications</i>
        </li>
        <li class="dropdown">       
            <i class="material-icons">flag</i>
        </li>
        <li class="pull-right"><i class="material-icons">more_vert</i></li>
    </ul>
</div>
</div>
</nav>
{% endblock %}